/* set default */
html{
    height: 100%;
}

body{
    height: 100%;
    background-image: linear-gradient(to bottom right, mediumpurple, lightblue);
    background-attachment: fixed;
    color: black;
    font-family: Arial;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

/*container to make responsive*/
.my-container{
    min-width: 500px;
    width: 80%;
    margin: auto;
    overflow: auto;
}

/*header includes nav bar*/
#my-main-header{
    height: 58px;
    background: rgba(255, 255, 255, 0.9);
    color: #6C63FF;
    position: fixed;
    top: 0px;
    width: 100%;
}

#my-main-header h1{
    font-weight: bold;
    font-size: 24px;
    float: left;
    padding-top: 15px;
}

#my-main-header ul{
    list-style: none;
    float: right;
    padding-top: 16px;
}

#my-main-header li{
    display: inline;
    padding-left: 10px;
}

#my-main-header a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

#my-main-header a:hover{
    color: darkgrey;
}

html,
body {
    height: 100%;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


img{
    margin-top: 60px;
    height: 500px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

form {
    background-color: white;
    padding: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

form label {
    font-size: larger;
    font-weight: bold;
}

@media(max-width: 600px) {
    img {
        height: 0px;
    }

    form {
        border-radius: 15px;
    }
}